.hero-section-stud {
  background-color: #0077b6;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.hero-section-stud h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero-section-stud p {
  margin-bottom: 20px;
}
