.sidebar-insti {
  width: 250px;
  background-color: #1d3557;
  color: white;
  padding: 20px;
}

.sidebar-insti h2,
.sidebar-insti h3 {
  margin: 0 0 20px 0;
  font-weight: 600;
}

.sidebar-insti nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-insti nav ul li {
  margin: 10px 0;
}

.sidebar-insti nav ul li a,
.sidebar-insti nav ul li button {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar-insti nav ul li a i,
.sidebar-insti nav ul li button i {
  margin-right: 10px;
}

.sidebar-insti nav ul li a:hover,
.sidebar-insti nav ul li button:hover {
  background-color: #457b9d;
}

.logout-button-insti,
.metamask-button {
  background: none;
  border: #ffffff;
  color: white;
  cursor: pointer;
}
