.navbar-insti {
  background-color: #1d3557;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand-insti h1 {
  margin: 0;
  font-size: 24px;
}

.navbar-links-insti {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links-insti li {
  display: inline;
}

.navbar-links-insti li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links-insti li a:hover {
  text-decoration: underline;
}
